ctree_dblp/query.pyc
ctree_dblp/urls.pyc
ctree_dblp/__init__.pyc
ctree_dblp/settings.pyc
ctree_dblp/view.pyc
ctree_dblp/wsgi.pyc
ctree_dblp/media/data/

# Created by https://www.toptal.com/developers/gitignore/api/virtualenv
# Edit at https://www.toptal.com/developers/gitignore?templates=virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/virtualenv
