<!DOCTYPE html>
<html lang="en">

<head>
	<title>Data Tree</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<meta name="robots" content="noindex">
  	<!-- jQuery -->
  	<script type="text/javascript" src="media/libs/jquery-ui/js/jquery-1.10.2.js"></script>
  	<!-- backbone -->
    <script type="text/javascript" src="media/libs/underscore-min.js"></script>
    <script type="text/javascript" src="media/libs/backbone-min.js"></script>
    <!-- d3 -->
    <script type="text/javascript" src="media/libs/d3.v3.min.js"></script>
    <!-- Bootstrap -->
    <link href="media/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="media/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <link href="media/libs/jquery-ui/css/overcast/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- jquery plugins -->
    <link href="media/libs/ion.rangeSlider-2.1.1/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="media/libs/ion.rangeSlider-2.1.1/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/ion.rangeSlider-2.1.1/js/ion-rangeSlider/ion.rangeSlider.js"></script>
    <script type="text/javascript" src="media/libs/moment.min.js"></script>

    <!-- magnific-popup -->
    <link rel="stylesheet" href="media/libs/magnific-popup/magnific-popup.css">
    <script src="media/libs/magnific-popup/jquery.magnific-popup.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!-- my custom css -->
    <link href="media/css/style.css" rel="stylesheet">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69937489-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>
	<!-- header -->
	<div id="header" class="row relative" style="margin:10px 10px;">
		<div class="left" style="margin-right:25px;">
            <a href="http://vidi.cs.ucdavis.edu/" target="_blank"><img src="media/img/logo.png"></a>
        </div>
        <div class="left">
            <h1 class="myfont1" style="margin:15px 0 2px 10px;">Researcher Tree</h1>
        </div>
	</div>

	<div id="main_display" class="row relative" style="width:99%; /*height:1000px;*/ margin:10px 10px; /*overflow:auto; min-width:1000px';*/">
		<!-- search -->
		<div id="search_engine" class="left relative" style="width:25%; height:100%;">
			<div id="form" class="row relative" style="margin:10px;">
				<span class="relative myfont3">DBLP URL:</span>
				<input type="text" id="dblp_url" value="http://dblp.uni-trier.de/pers/hd/m/Ma:Kwan=Liu" class="row" autocomplete="off" style="width:100%; margin:5px 0 10px 0;"></input>
				<button id="check_url" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px;">Search</button>
			</div>
            <img id="progress" src="media/img/progress-bar.gif" style="display:none; width:50%;"></img>
            <div id="detail" class="row relative" style="margin:10px; display:none;">
                <div style="margin:10px 0;">
                    <span class="relative myfont3">Researcher:</span>
                    <span id="researcher_name" class="relative myfont3">Kwan-Liu Ma</span>
                </div>
                <!-- <span class="relative myfont3 row">Time:</span> -->
                <input type="text" id="period_slider" class="row" style="margin:10px 0;"></input>
                <button id="draw_tree" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px; margin:10px 0;">Finish</button>
            </div>

            <div id="introduction" class="row relative" style="margin:10px; overflow-y:auto; overflow-x: hidden;">
                <span class="relative myfont3"><b>How to make Researcher Trees:</b></span>
                <div style="text-align: justify;">
                <span class="relative myfont3">
                    Researcher Tree is an online tool to generate 4 unique trees with different mapping. You can download each tree individually. Process steps are shown in following. <br>
                    1. Searching researcher in <a href="http://dblp.uni-trier.de/db/" target="_blank">DBLP</a> website. <br>
                    2. Copy the URL of the result of that researcher and paste the URL into our website. <br>
                    3. Get the informaion of researcher and select the period to generate 4 kinds of trees. <br>
                    </span></div>
                <!-- <div style="width:100%; height:300px; background:gainsboro;"></div> -->
            </div>            
		</div>

		<!-- result -->
		<div id="result" class="left relative" style="/*border:1px solid gray; border-radius: 5px;*/ width:75%; height:100%;">
            <img id="loading" src="media/img/loader.gif" class="relative" style="display:none; height:50px; margin-left:50%; margin-top:30px;"></img>
            <h1 id="no_preview" style="text-align: center; top:10%; position:relative; color:gainsboro;"><b>NO PREVIEW<br>AVAILABLE</b></h1>
            <div id="tree_result" style="display:none; overflow-y:auto; overflow-x: hidden;">
                <div class="row" style="margin-left:30px;">
                    <div id="tree1_cnt" class="col-md-3 relative" style="padding:0; border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree1" height="100%" class="popup-link" src="media/img/no_preview.jpg" style="/*margin:0 10px;*/ /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div id="tree1_text" class="col-md-3">
                        <a id="tree1_anim" href="#" name="1">Anim</a> |
                        <a href="#">Comp</a> |
                        <a id="tree1_save" href="#" name="1">Save</a>
                        <!-- <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>  -->
                        <br>
                        <b>Stick:</b> paper <br>
                        <b>Trunk Side:</b> Conference paper(left) <br>
                        <b>Branches:</b> Published year <br>
                        <b>Branch Gap:</b> <p class="b_gap">0</p> <br>
                        <b>Branch Side:</b> First author(down) <br>
                        <b>Fruit:</b> Paper length (>4) <br>
                        <b>Leaf:</b> Co-author <br>
                        <b>leaf Color:</b> First collaborated time <br>
                        <b>Leaf Size:</b> Total collaborated paper <br>
                    </div>
                    <div id="tree2_cnt" class="col-md-3 relative" style="padding:0; border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree2" height="100%" class="popup-link" src="media/img/no_preview.jpg" style="/*margin:0 10px;*/ /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div id="tree2_text" class="col-md-3">
                        <a id="tree2_anim" href="#" name="2">Anim</a> |
                        <a href="#">Comp</a> |
                        <a id="tree2_save" href="#" name="2">Save</a>
                        <br>
                        <b>Stick:</b> paper <br>
                        <b>Trunk Side:</b> First author(left) <br>
                        <b>Branches:</b> Published year <br>
                        <b>Branch Gap:</b> <p class="b_gap">0</p> <br>
                        <b>Branch Side:</b> Conference paper(down) <br>
                        <!-- <b>Fruit:</b> <br> -->
                        <b>Leaf:</b> Co-author <br>
                        <b>leaf Color:</b> First collaborated time <br>
                        <b>Leaf Size:</b> Total collaborated paper <br>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-left:30px;">
                    <div id="tree3_cnt" class="col-md-3 relative" style="padding:0; border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree3" height="100%" class="popup-link" src="media/img/no_preview.jpg" style="/*margin:0 10px;*/ /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div id="tree3_text" class="col-md-3">
                        <a id="tree3_anim" href="#" name="3">Anim</a> |
                        <a href="#">Comp</a> |
                        <a id="tree3_save" href="#" name="3">Save</a>
                        <br>
                        <b>Stick:</b> Co-author <br>
                        <b>Trunk Side:</b> Total collaborated paper(left:<5) <br>
                        <b>Branches:</b> First collaborated time <br>
                        <b>Branch Gap:</b> <p class="b_gap">0</p> <br>
                        <b>Branch Side:</b> Collaboration frequency(up:>1) <br>
                        <b>Fruit:</b> Researcher itself <br>
                        <b>Leaf:</b> Paper <br>
                        <b>leaf Color:</b> Paper types <br>
                        <b>Leaf Size:</b> Paper length <br>
                    </div>
                    <div id="tree4_cnt" class="col-md-3 relative" style="padding:0; border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree4" height="100%" class="popup-link" src="media/img/no_preview.jpg" style="/*margin:0 10px;*/ /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div id="tree4_text" class="col-md-3">
                        <a id="tree4_anim" href="#" name="4">Anim</a> |
                        <a href="#">Comp</a> |
                        <a id="tree4_save" href="#" name="4">Save</a>
                        <br>
                        <b>Stick:</b> Co-author <br>
                        <b>Trunk Side:</b> Total collaborated paper(left:<5) <br>
                        <b>Branches:</b> First collaborated time <br>
                        <b>Branch Gap:</b> <p class="b_gap">0</p> <br>
                        <b>Branch Side:</b> Collaboration frequency(up:>1) <br>
                        <!-- <b>Fruit:</b> Conference paper <br> -->
                        <b>Leaf:</b> Paper <br>
                        <b>leaf Color:</b> Author order <br>
                        <b>Leaf Size:</b> Published year <br>
                    </div>
                </div>
                <!-- <img id="tree1" src="media/img/no_preview.jpg" style="margin:10px; width:200px;"></img><br>
                <img id="tree2" src="media/img/no_preview.jpg" style="margin:10px; width:200px;"></img><br> -->
                <!-- <img id="tree3" src="media/img/no_preview.jpg" style="margin:10px;"></img><br>
                <img id="tree4" src="media/img/no_preview.jpg" style="margin:10px;"></img><br>
                <img id="tree5" src="media/img/no_preview.jpg" style="margin:10px;"></img><br> -->
            </div>
            <!-- <img id="no_preview" src="media/img/no_preview.jpg"></img> -->
		</div>
	</div>

	<!-- footer -->
    <div id="footer" style="text-align: center; /*position: absolute; bottom: 0;*/ width:100%;
    overflow:hidden;">
        &copy; 2015 Visualization & Interface Design Innovation Lab @ University of California, Davis
    </div>	

    <div id='save_container' class='left' style="position:absolute; overflow:hidden; height:50px; width:50px; left:50px; top:150px; display:none; z-index:-10;">
        <canvas id='save_tree' style="background:white;"></canvas>
        <!-- <a id="custom_download_link" download="mytree.png" href=""></a> -->
    </div>

    <div id='anim_container' style="position:absolute; left:0px; top:0px; z-index:125; background:rgba(55, 55, 55, 0.9); display:none;">
        <canvas id='anim_tree' style="background:white;"></canvas>
    </div>


    <script type="text/javascript" src="media/js/settings.js"></script>
    <script type="text/javascript" src="media/js/labels.js"></script>
    <script type="text/javascript" src="media/js/utility.js"></script>
    <script type="text/javascript" src="media/js/model.js"></script>
    <script type="text/javascript" src="media/js/my_app.js"></script>
    <script type="text/javascript" src="media/js/tree_rendering.js"></script>
    
</body>
</html>
