<!DOCTYPE html>
<html lang="en">

<head>
	<title>Data Tree</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<meta name="robots" content="noindex">
  	<!-- jQuery -->
  	<script type="text/javascript" src="media/libs/jquery-ui/js/jquery-1.10.2.js"></script>
  	<!-- backbone -->
    <script type="text/javascript" src="media/libs/underscore-min.js"></script>
    <script type="text/javascript" src="media/libs/backbone-min.js"></script>
    <!-- d3 -->
    <script type="text/javascript" src="media/libs/d3.v3.min.js"></script>
    <!-- Bootstrap -->
    <link href="media/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="media/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <link href="media/libs/jquery-ui/css/overcast/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- jquery plugins -->
    <link href="media/libs/ion.rangeSlider-2.1.1/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="media/libs/ion.rangeSlider-2.1.1/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/ion.rangeSlider-2.1.1/js/ion-rangeSlider/ion.rangeSlider.js"></script>
    <script type="text/javascript" src="media/libs/moment.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!-- my custom css -->
    <link href="media/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header -->
	<div id="header" class="row relative" style="margin:10px 10px;">
		<div class="left" style="margin-right:25px;">
            <a href="http://vidi.cs.ucdavis.edu/" target="_blank"><img src="media/img/logo.png"></a>
        </div>
        <div class="left">
            <h1 class="myfont1" style="margin:15px 0 2px 10px;">Researcher Tree</h1>
        </div>
	</div>

	<div id="main_display" class="row relative" style="width:99%; /*height:1000px;*/ margin:10px 10px; /*overflow:auto; min-width:1000px';*/">
		<!-- search -->
		<div id="search_engine" class="left relative" style="width:25%; height:100%;">
			<div id="form" class="row relative" style="margin:10px;">
				<span class="relative myfont3">DBLP URL:</span>
				<input type="text" id="dblp_url" value="http://dblp.uni-trier.de/pers/hd/m/Ma:Kwan=Liu" class="row" autocomplete="off" style="width:100%; margin:5px 0 10px 0;"></input>
				<button id="check_url" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px;">Search</button>
			</div>
            <img id="progress" src="media/img/progress-bar.gif" style="display:none; width:50%;"></img>
            <div id="detail" class="row relative" style="margin:10px; display:none;">
                <div style="margin:10px 0;">
                    <span class="relative myfont3">Researcher:</span>
                    <span id="researcher_name" class="relative myfont3">Kwan-Liu Ma</span>
                </div>
                <!-- <span class="relative myfont3 row">Time:</span> -->
                <input type="text" id="period_slider" class="row" style="margin:10px 0;"></input>
                <button id="draw_tree" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px; margin:10px 0;">Finish</button>
            </div>

            <div id="introduction" class="row relative" style="margin:10px; overflow-y:auto; overflow-x: hidden;">
                <span class="relative myfont3"><b>How to make Researcher Trees:</b></span>
                <div style="text-align: justify;">
                <span class="relative myfont3">Show <a href="http://dblp.uni-trier.de/db/" target="_blank">DBLP</a> url link first. YouTube-mp3.org is the easiest online service for converting videos to mp3. You do not need an account, the only thing you need is a YouTube URL. We will start to convert the audiotrack of your videofile to mp3 as soon as you have submitted it and you will be able to download it. Different from other services the whole conversion process will be perfomed by our infrastructure and you only have to download the audio file from our servers. Because of this our software is platform-independent: You can use it with your Mac, a Linux PC or even an iPhone. All our conversions will be perfomed in high quality mode with a bitrate of at least 128 kBit/s. Do not worry, our service is completely free. We need approximately 3 to 4 minutes per video.</span></div>
                <!-- <div style="width:100%; height:300px; background:gainsboro;"></div> -->
            </div>

		</div>

		<!-- result -->
		<div id="result" class="left relative" style="/*border:1px solid gray; border-radius: 5px;*/ width:75%; height:100%;">
            <img id="loading" src="media/img/loader.gif" class="relative" style="display:none; height:50px; margin-left:50%; margin-top:30px;"></img>
            <h1 id="no_preview" style="text-align: center; top:10%; position:relative; color:gainsboro;"><b>NO PREVIEW<br>AVAILABLE</b></h1>
            <div id="tree_result" style="display:none; overflow-y:auto; overflow-x: hidden;">
                <div class="row" style="margin-left:30px;">
                    <div class="col-md-3 relative" style="border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree1" width="75%" src="media/img/no_preview.jpg" style="margin:0 10px; /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div class="col-md-3">Tree1 Description</div>
                    <div class="col-md-3 relative" style="border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree2" width="75%" src="media/img/no_preview.jpg" style="margin:0 10px; /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div class="col-md-3">Tree2 Description</div>
                </div>
                <br>
                <div class="row" style="margin-left:30px;">
                    <div class="col-md-3 relative" style="border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree3" width="75%" src="media/img/no_preview.jpg" style="margin:0 10px; /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div class="col-md-3">Tree3 Description</div>
                    <div class="col-md-3 relative" style="border:1px solid gray; border-radius:10px; height:500px; border-bottom-width:10px;">
                        <div>
                            <img id="tree4" width="75%" src="media/img/no_preview.jpg" style="margin:0 10px; /*width:75%;*/ position:absolute; bottom:0;"></img>
                        </div>
                    </div>
                    <div class="col-md-3">Tree4 Description</div>
                </div>
                <!-- <img id="tree1" src="media/img/no_preview.jpg" style="margin:10px; width:200px;"></img><br>
                <img id="tree2" src="media/img/no_preview.jpg" style="margin:10px; width:200px;"></img><br> -->
                <!-- <img id="tree3" src="media/img/no_preview.jpg" style="margin:10px;"></img><br>
                <img id="tree4" src="media/img/no_preview.jpg" style="margin:10px;"></img><br>
                <img id="tree5" src="media/img/no_preview.jpg" style="margin:10px;"></img><br> -->
            </div>
            <!-- <img id="no_preview" src="media/img/no_preview.jpg"></img> -->
		</div>
	</div>

	<!-- footer -->
    <div id="footer" style="text-align: center; /*position: absolute; bottom: 0;*/ width:100%;
    overflow:hidden;">
        &copy; 2015 Visualization & Interface Design Innovation Lab @ University of California, Davis
    </div>	

    <div id='save_container' class='left' style="position:absolute; overflow:hidden; height:50px; width:50px; left:50px; top:150px; display:none; z-index:-10;">
        <canvas id='save_tree' style="background:white;"></canvas>
        <a id="custom_download_link" download="mytree.png" href=""></a>
    </div>

    <script type="text/javascript" src="media/js/settings.js"></script>
    <script type="text/javascript" src="media/js/labels.js"></script>
    <script type="text/javascript" src="media/js/utility.js"></script>
    <script type="text/javascript" src="media/js/model.js"></script>
    <script type="text/javascript" src="media/js/my_app.js"></script>
    <script type="text/javascript" src="media/js/tree_rendering.js"></script>
    
</body>
</html>
