<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scholar Tree</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
        <meta name="robots" content="noindex"><!-- jQuery -->
        <script type="text/javascript" src="media/libs/jquery-ui/js/jquery-1.10.2.js">
        </script><!-- backbone -->
        <script type="text/javascript" src="media/libs/underscore-min.js">
        </script>
        <script type="text/javascript" src="media/libs/backbone-min.js">
        </script><!-- d3 -->
        <script type="text/javascript" src="media/libs/d3.v3.min.js">
        </script><!-- Bootstrap -->
        <link href="media/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="media/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="media/libs/bootstrap/js/bootstrap.min.js">
        </script><!-- jQuery UI -->
        <link href="media/libs/jquery-ui/css/overcast/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="media/libs/jquery-ui/js/jquery-ui-1.10.4.custom.min.js">
        </script><!-- jquery plugins -->
        <link href="media/libs/ion.rangeSlider-2.1.1/css/ion.rangeSlider.css" rel="stylesheet" type="text/css">
        <link href="media/libs/ion.rangeSlider-2.1.1/css/ion.rangeSlider.skinNice.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="media/libs/ion.rangeSlider-2.1.1/js/ion-rangeSlider/ion.rangeSlider.js">
        </script>
        <script type="text/javascript" src="media/libs/moment.min.js">
        </script><!-- magnific-popup -->
        <link rel="stylesheet" href="media/libs/magnific-popup/magnific-popup.css" type="text/css">
        <script src="media/libs/magnific-popup/jquery.magnific-popup.js" type="text/javascript">
        </script>
        <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'><!-- my custom css -->
        <link href="media/css/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-69937489-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div style="display:none;"><img id="wood" src="media/img/wood.jpg"/></div>
        <!-- header -->
        <div id="header" class="row relative" style="margin:10px 10px;">
            <div class="left" style="margin-right:25px;">
                <a href="http://vidi.cs.ucdavis.edu/" target="_blank"><img src="media/img/logo.png" style="height:85px;"></a>
            </div>
            <div class="left">
                <h1 class="myfont1" style="margin:15px 0 2px 10px;">
                Scholar Tree
                </h1>
            </div>
        </div>
        <div id="main_display" class="row relative" style="margin:0 10px;">
            <div id="start_page" class="row" style="margin:20px;">
                <div id="introduction" class="row relative">
                    <!-- <span class="relative myfont3"><b>How to Make Researcher Trees:</b></span> -->
                    <div style="text-align: justify;">
                        <!-- <span class="relative myfont3"><b>Academic Tree</b> is a visualization characterizing a researcher's academic career in terms of his/her publications. To create a researcher tree, do the following:<br>
                            1. Find a researcher at <a href="http://dblp.uni-trier.de/db/" target="_blank">DBLP</a><br>
                            2. Copy the URL of the researcher's page and paste it into the URL box on the interface displayed next<br>
                            3. Selected a time period of the publication data to use and press the Create Tree button.<br>
                            Four trees will be generated and displayed.<br>
                        You may repeat this process to visualize a different researcher.<br></span> -->
                        <span class="relative myfont3"><b>Scholar Tree</b> is a visualization of a researcher’s academic career in terms of his/her publication record.<br>
                        Three trees each of which highlights a particular aspect of the record will be generated and displayed.
                        </span>
                    </div><!-- <div style="width:100%; height:300px; background:gainsboro;"></div> -->
                    <button id="start_btn" title="Enter the system page" class="btn btn-default myfont3 left" style="margin:10px 0; padding:0 10px; height:30px; z-index:150;">Start</button>
                </div>
            </div>
            <div id="system_page" style="overflow:auto; min-width:1200px; min-height:750px;">
                <!-- search -->
                <div id="search_engine_cnt" class="left relative" style="width:23%;">
                    <div id="search_engine" style="width:100%; display:none;">
                        <div id="form" class="row relative" style="margin:0 1px 0 10px;">
                            <!-- <span class="relative myfont3">DBLP URL:</span> <input type="text" id="dblp_url" value="http://dblp.uni-trier.de/pers/hd/m/Ma:Kwan=Liu" title="Copy the searching result URL of DBLP" class="row" autocomplete="off" style="width:100%; margin:5px 0 10px 0;"> <button id="check_url" title="Retrieve information of this researcher" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px;">Retrieve Data</button>
                            <br><br><br> -->
                            <span class="relative myfont3">Scholar Name:</span>
                            <input type="text" id="scholar" title="Search scholar's full name" class="row" autocomplete="off" style="width:100%; margin:5px 0 10px 0;"></input> 
                            <button id="search_name" title="Search researcher by the name" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px;">Search Scholar</button>
                            <!-- <br><br><br> -->
                            <div id="search_res" style="margin-top:40px; display:none;">
                                <span class="relative myfont3">Possible Scholars:</span> 
                                <div id="candidates"></div>
                            </div>
                        </div>
                        <img id="progress" src="media/img/progress-bar.gif" style="display:none; width:50%;">
                        <div id="detail" class="row relative" style="margin:10px; display:none;">
                            <div style="margin:10px 0;">
                                <span class="relative myfont3">Researcher:</span> <span id="researcher_name" class="relative myfont3">Kwan-Liu Ma</span>
                            </div><!-- <span class="relative myfont3 row">Time:</span> -->
                            <div title="Choosing an interesting period" class="row" style="margin:0 1px 0 8px;">
                                <input type="text" id="period_slider" class="row" style="margin:10px 0;">
                            </div>
                            <button id="draw_tree" class="btn btn-default myfont3 row" style="padding:0 10px; height:30px; margin:10px 0 5px 0;">Create Trees</button>
                            <br>
                            <div id = "other_design" style="display:none;">
                                <a href="media/html/forcedirect.html" target="_blank">[Node-link]</a>
                                <a href="media/html/matrix.html" target="_blank" style="margin-left:10px;">[Matrix]</a>
                            </div>
                            <!-- <a href="media/html/forcedirect.html" target="_blank" class="row" style="margin-left:10px;">Survey</a> -->
                        </div>
                    </div>
                    <div id="anim_panel" style='/*margin:0 10px; width:100%;*/ margin:0 1px 0 10px;'>
                        <b style="font-size:16px;">Animation Control</b><br>
                        <div class="btn-group" style="margin-bottom:15px;">
                            <button type="button" title="Back to previous step" id="tree_backward" value="1" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span></button>
                            <button type="button" title="Play tree growing animation" id="tree_anim" value="1" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
                            <button type="button" title="Pause to current step" id="tree_pause" value="1" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></button>
                            <button type="button" title="Stop and set to default" id="tree_pic" value="1" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
                            <button type="button" title="Go to next step" id="tree_forward" value="1" class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span></button>
                        </div><br>
                    </div>
                    <div id="highlight_panel" style='/*margin:0 10px; width:100%;*/margin:0 1px 0 10px;'>
                        <b style="font-size:16px;">Highlight Selection</b><br>
                        <select id="tree1_select" title="Choose a co-author to highlight all the correlations" class="highlight_selector">
                            <option value="None">
                                None
                            </option>
                        </select>
                        <select id="tree2_select" title="Choose a co-author to highlight all the correlations" class="highlight_selector">
                            <option value="None">
                                None
                            </option>
                        </select>
                        <select id="tree3_select" title="Choose a publication to highlight all the correlations" class="highlight_selector">
                            <option value="None">
                                None
                            </option>
                        </select>
                        <select id="tree4_select" title="Choose a publication to highlight all the correlations" class="highlight_selector">
                            <option value="None">
                                None
                            </option>
                        </select>
                        <div>
                            <div id="highlight_info">
                                leaf size: 3 out of 6<br>
                                leaf count: 30
                            </div>
                            <div id="click_info" >
                                Trunk side: Up<br>
                            </div>
                        </div>
                    </div>

                    <!-- <div id="legend_cnt" style='display:table;'> 
                        <b style="font-size:16px; margin-left:10px;">Leaf Color Legend:</b><br>
                        <div id="tree1_legend" class="display_legend">
                            Legend here
                        </div>
                        <div id="tree2_legend" class="display_legend">
                            Legend here
                        </div>
                        <div id="tree3_legend" class="display_legend">
                            Legend here
                        </div>
                        <div id="tree4_legend" class="display_legend">
                            Legend here
                        </div>
                    </div> -->
                </div>                
                <!-- result -->
                <div id="result" class="left relative" style="width:77%; height:100%; overflow:auto; min-width:900px;">
                    <img id="loading" src="media/img/loader.gif" class="relative" style="display:none; height:50px; margin-left:50%; margin-top:30px;">
                    <div id="block_page" style="position:absolute; top:0; left:0; height:100%; width:75%; z-index:100; display:none;">
                        <img id="updating" src="media/img/loader.gif" class="relative" style="display:none; height:50px; margin-left:57%; margin-top:150px;">
                    </div>
                    <h1 id="no_preview" style="text-align: center; top:10%; position:relative; color:gainsboro; display:none;">
                        <b>NO PREVIEW<br>AVAILABLE</b>
                    </h1>
                    <div id="tree_result" class="container-non-responsive" style="display:none;">
                        <div class="row" style="margin-left:0; width:99%;">
                            <div class="col-md-2 thumb_cnt relative">
                                <div id="tree1_cnt" title="Tree1" class="snap_view selected" name="1">
                                    <div>
                                        <img id="tree1" src="media/img/no_preview.jpg" style="position:absolute; bottom:0;">
                                    </div>
                                </div>
                                <div id="tree2_cnt" title="Tree2" class="snap_view" name="2">
                                    <div>
                                        <img id="tree2" src="media/img/no_preview.jpg" style="position:absolute; bottom:0;">
                                    </div>
                                </div>
                                <div id="tree3_cnt" title="Tree3" class="snap_view" name="3">
                                    <div>
                                        <img id="tree3" src="media/img/no_preview.jpg" style="position:absolute; bottom:0;">
                                    </div>
                                </div>
                                <div id="tree4_cnt" title="Tree4" class="snap_view" name="4">
                                    <div>
                                        <img id="tree4" src="media/img/no_preview.jpg" style="position:absolute; bottom:0;">
                                    </div>
                                </div>
                                <button id="feedback" class="btn btn-default myfont3 row" style="padding:0 10px; height:50px; width:98%; margin:10px 0 5px 0; background:#F9D2D2; font-size:20px;" disabled>Quick Survey</button>
                            </div>
                            <div id='anim_container' class="col-md-7 relative" style="padding:0; border:1.5px solid gray; border-radius:10px; height:500px; /*border-bottom-width:10px;*/">
                                <canvas id='anim_tree' style="position:absolute; top:0; left:0; /*background:white;*/ width:100%; height:100%;"></canvas> <span id="save_icon" title="Save this image" class="glyphicon glyphicon-save" style="position:absolute; top:5px; right:5px; font-size:large; color:#B3B3B3;"></span>
                            </div>
                            <div class="col-md-3" style="margin-bottom: 10px;">
                                <!-- <b style="font-size:16px;">Animation Control</b><br>
                                <div class="btn-group" style="margin-bottom:15px;">
                                    <button type="button" title="Back to previous step" id="tree_backward" value="1" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span></button>
                                    <button type="button" title="Play tree growing animation" id="tree_anim" value="1" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
                                    <button type="button" title="Pause to current step" id="tree_pause" value="1" class="btn btn-default"><span class="glyphicon glyphicon-pause"></span></button>
                                    <button type="button" title="Stop and set to default" id="tree_pic" value="1" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
                                    <button type="button" title="Go to next step" id="tree_forward" value="1" class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span></button>
                                </div><br> -->
                                <b class="title">Tree Feature Mappings:</b><br>
                                <div id="tree1_text">
                                    <a id="tree1_save" href="#" name="1" style="display:none;">Save</a> 
                                    <b>Stick:</b> Paper<br>
                                    <b>Trunk Side:</b> Conference paper (left)<br>
                                    <b>Branches:</b> Published year<br>
                                    <b>Branch Interval:</b>
                                    <select id="tree1_gap_select" title="Choose different branch interval">
                                    </select>
                                    <p id="tree1_gap" class="b_gap">
                                        0
                                    </p>
                                    <br>
                                    <b>Branch Side:</b> First authored papers (lower side)<br>
                                    <b>Fruit:</b> Paper length (&gt; 4 pages)<br>
                                    <b>Leaf:</b> Co-author<br>
                                    <b>Leaf Color:</b> First co-authored year<br>
                                    <b>Leaf Size:</b> Total co-authored papers<br>
                                    <!-- <b>Highlight Selection:</b><br> -->
                                    <!-- <select id="tree1_select" title="Choose a co-author to highlight all the correlations" class="highlight_selector">
                                        <option value="None">
                                            None
                                        </option>
                                    </select> -->
                                </div>
                                <div id="tree2_text" style="display:none;">
                                    <a id="tree2_save" href="#" name="2" style="display:none;">Save</a> 
                                    <b>Stick:</b> Paper<br>
                                    <b>Trunk Side:</b> First authored papers (left)<br>
                                    <b>Branches:</b> Published year<br>
                                    <b>Branch Interval:</b>
                                    <select id="tree2_gap_select" title="Choose different branch interval">
                                    </select>
                                    <p id="tree2_gap" class="b_gap">
                                        0
                                    </p><br>
                                    <b>Branch Side:</b> Conference paper (lower side)<br>
                                    <b>Leaf:</b> Co-author<br>
                                    <b>Leaf Color:</b> First co-authored year<br>
                                    <b>Leaf Size:</b> Co-authored period<br>
                                    <!-- <b>Highlight Selection:</b><br> -->
                                    <!-- <select id="tree2_select" title="Choose a co-author to highlight all the correlations" class="highlight_selector">
                                        <option value="None">
                                            None
                                        </option>
                                    </select> -->
                                </div>
                                
                                <div id="tree3_text" style="display:none;">
                                    <a id="tree3_save" href="#" name="3" style="display:none;">Save</a>
                                    <b>Stick:</b> Co-author<br>
                                    <!-- <b>Trunk Side:</b> Total co-authored papers (left: &lt; 5)<br> -->
                                    <b>Trunk Side:</b> Co-authored period (right: &gt; <p class="t_gap">0</p>)<br>
                                    <b>Branches:</b> First co-authored year<br>
                                    <b>Branch Interval:</b>
                                    <select id="tree3_gap_select" title="Choose different branch interval">
                                    </select>
                                    <p id="tree3_gap" class="b_gap">
                                        0
                                    </p><br>
                                    <b>Branch Side:</b> One-time collaboration (lower side)<br>
                                    <b>Leaf:</b> Paper<br>
                                    <b>Leaf Color:</b> Paper published year<br>
                                    <!-- <b>Leaf Size:</b> Paper types<br> -->
                                    <b>Leaf Size:</b> Paper co-author count<br>
                                    <b>Fruit:</b> Journal paper count (&gt; 1 publication)<br>
                                    <!-- <b>Highlight Selection:</b><br> -->
                                    <!-- <select id="tree3_select" title="Choose a publication to highlight all the correlations" class="highlight_selector">
                                        <option value="None">
                                            None
                                        </option>
                                    </select> -->
                                </div>

                                <div id="tree4_text" style="display:none;">
                                    <a id="tree4_save" href="#" name="4" style="display:none;">Save</a> 
                                    <b>Stick:</b> Co-author<br>
                                    <b>Trunk Side:</b> One-time collaboration (right)<br>
                                    <!-- <b>Trunk Side:</b> First-time co-authored (left)<br> -->
                                    <b>Branches:</b> First co-authored year<br>
                                    <!-- <b>Branches:</b> Paper published year<br> -->
                                    <b>Branch Interval:</b>
                                    <select id="tree4_gap_select" title="Choose different branch interval">
                                    </select>
                                    <p id="tree4_gap" class="b_gap">
                                        0
                                    </p><br>
                                    <b>Branch Side:</b> Total co-authored paper (left upper side: &gt; 3)<br>
                                    <!-- <b>Branch Side:</b> First co-authored year (down: earlier)<br> -->
                                    <b>Fruit:</b> Co-authored period (&gt; 1 year)<br>
                                    <b>Leaf:</b> Paper<br>
                                    <b>Leaf Color:</b> Paper types<br>
                                    <b>Leaf Size:</b> Paper length<br>
                                    <!-- <b>Highlight Selection:</b><br> -->
                                    <!--  <select id="tree4_select" title="Choose a publication to highlight all the correlations" class="highlight_selector">
                                        <option value="None">
                                            None
                                        </option>
                                    </select> -->
                                </div>
                                
                                <!-- legend -->
                                <div id="legend_cnt" style='margin-top:10px; display:table;'> 
                                    <b class="title">Leaf Color Legend:</b><br>
                                    <div id="tree1_legend" class="display_legend">
                                        Legend here
                                    </div>
                                    <div id="tree2_legend" class="display_legend">
                                        Legend here
                                    </div>
                                    <div id="tree3_legend" class="display_legend">
                                        Legend here
                                    </div>
                                    <div id="tree4_legend" class="display_legend">
                                        Legend here
                                    </div>
                                </div>
                                <!-- parameters panel-->
                                <div title="Change leave scale" style="margin-top:10px;">
                                    <!-- <span class="glyphicon glyphicon-leaf left" style="font-size:large; width:20px; margin-top:10px;"></span> -->
                                    <b class="parameter">Leaf</b>
                                    <div style="margin-left:45px;"><input type="text" id="l_scale"></div>
                                </div>
                                <div title="Change fruit scale" style="margin-top:5px;">
                                    <!-- <span class="glyphicon glyphicon-leaf left" style="font-size:large; width:20px; margin-top:10px;"></span> -->
                                    <b class="parameter">Fruit</b>
                                    <div style="margin-left:45px;"><input type="text" id="f_scale"></div>
                                </div>
                                <div title="Change stick length" style="margin-top:5px;">
                                    <!-- <span class="glyphicon glyphicon-leaf left" style="font-size:large; width:20px; margin-top:10px;"></span> -->
                                    <b class="parameter">Stick</b>
                                    <div style="margin-left:45px;"><input type="text" id="s_scale"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            
                </div>
            </div>
            
        </div>
        <!-- footer -->
        <div id="footer" class="row" style="text-align:center; width:100%; margin-top:3px;">
            <!-- © 2016 Visualization &amp; Interface Design Innovation Labs, University of California, Davis -->
            @2016 VIDI Labs, University of California, Davis
        </div>
        <div id='save_container' class='left' style="position:absolute; overflow:hidden; height:50px; width:50px; left:50px; top:150px; display:none; z-index:-10;">
            <canvas id='save_tree' style="background:white;"></canvas> <!-- <a id="custom_download_link" download="mytree.png" href=""></a> -->
        </div>
        
        <div id="survey_dialog" title="Survey for Scholar Tree" class="popup_window_title">
            <span class="relative myfont3 row">
                This survey is about evaluating this visualization and will only take about 5 minutes. <br>
                We would love to hear the feedback from you. <br>
                If you are willing to help us to do the survey, please click the button below.
                <!-- Are you willing to do a short survey for us about this visualization? -->
            </span>
            <!-- <form id="agreement">
                <input type="radio" name="agreement" value="y">Yes</input>
                <input type="radio" name="agreement" value="n">No</input><br>
            </form> -->
            <br>
            <a href="https://docs.google.com/forms/d/1djQdhMYO8FNAN3y8fsaRtE9v7xKG1IgF5vy9oo3no64/viewform" target="_blank">
                <button id="survey" class="btn btn-default myfont3 row" style="padding:0 10px; height:30px; margin:10px 0 5px 0;">Go to the Survey</button>
            </a>
            
        </div>
        <script type="text/javascript" src="media/js/settings.js">
        </script><script type="text/javascript" src="media/js/labels.js">
        </script><!--script type="text/javascript" src="media/js/anim_rendering.js"></script-->
        <script type="text/javascript" src="media/js/utility.js">
        </script><script type="text/javascript" src="media/js/model.js">
        </script><script type="text/javascript" src="media/js/my_app.js">
        </script><script type="text/javascript" src="media/js/tree_rendering.js">
        </script><script type="text/javascript" src="media/js/tree_animating.js">
        </script><script type="text/javascript" src="media/js/tree_drawing.js">
        </script><script type="text/javascript" src="media/js/tree_manipulating.js">
        </script>
    </body>
</html>