a:focus{ outline: none; }

.myfont1{
  font-family: 'Alegreya', serif;
  font-size: 42px;
}
.myfont2{
    font-family: 'Roboto Condensed', sans-serif;
}

.myfont3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	/*font-family: "Calibri"; */
	font-size: 18px;
}

.myfont4{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  /*font-family: "Calibri"; */
  font-size: 16px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.left{
  float: left;
}

.right{
  float: right;
}

.center {
  text-align: center;
}

table, th, td {
  border: 1px solid gray;
}

.clear,.clearer {clear: both;}
.clearer {
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
}

.auto_center{
  margin-left:auto;
  margin-right:auto;
}

.b_gap{
    display:inline;
}

.t_gap{
    display:inline;
}

img.mfp-img{
  background: whitesmoke;
  background-clip: content-box;
  max-width: 100%;
}

.snap_view{
  float:left;
  position:relative;
  margin:0 0 15px 0;
  padding:0; 
  border:1px solid gray; 
  border-radius:5px; 
  /*height:150px; */
  width:100%;
  cursor:pointer;
}

.snap_view.selected{
  border-width:3px;
}

.thumb_cnt{
  overflow-y:auto;
  height:100%;
  /*margin-left:30px; */
  /*margin-top:10px;*/
  overflow-x:hidden;
}

.btn-group{
  margin-bottom:5px;
}

.btn-default{
  background-image:none;
  padding-top:3px;
  padding-bottom:3px;
}

.highlight_selector{
  width:100%;
  margin-bottom: 10px;
}


.display_legend{
  /*position: relative;*/
  /*margin:0 15px; */
  width:100%;
  display:none;
}

.legend_box{
  height: 25px;
  width: 25px;
  background: gray;
  /*margin: 5px 0;*/
  float: left;
}

.legend_label{
  margin: 10px;
}

.title{
  font-size:16px;
}

.parameter{
  font-size:14px;
  float: left;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 0px 8px 8px 0px;
  padding: 3px;
  background: #E6E6E6;
  /*width: 48px;*/
}

.para{
  margin-left:50px;
}

.graph_svg{
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  position:fixed;
  top:initial;
}